<!doctype html>
<html lang="en">
<head>
    <title>Vezba 2 - ime autora</title>
    <meta name="author" content="Ime autora">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        img {
            display: block;
            margin: 10px auto;
        }
    </style>
</head>

<body>
    Domaci zadatak.

    <img src="" alt="opis slike">
    <img src="" alt="opis slike">
    <img src="" alt="opis slike">

    <hr>

    <h2>Headeri za css:</h2>
    <h4>request headeri:</h4>
    <pre>podaci</pre>
    <h4>response headeri:</h4>
    <pre>podaci</pre>

    <hr>

    <h2>Headeri za slike</h2>
    <h4>request headeri:</h4>
    <pre>podaci</pre>
    <h4>response headeri:</h4>
    <pre>podaci</pre>

    <hr>

    <h2>headeri za js</h2>
    <h4>request headeri:</h4>
    <pre>podaci</pre>
    <h4>response headeri:</h4>
    <pre>podaci</pre>


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script>
        console.log("test");
    </script>
</body>

</html>