.centerPic {
    display: block;
    margin: 10px auto;
}
.homework {
    text-align: center;
    font-size: 25px;   
    border-bottom: 1px dashed black;
}

.descr {
    text-align: center;
}

body {
    font-family: 'Droid Sans', sans-serif;
}

.section_wrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}